.main {
    display: flex;
    background-color: #bdc3c7;
    flex-direction: column;
    color: #2c3e50;
}

.settings {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.counter {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.password-generator {
    display: flex;
    align-items: center;
    justify-content: center;
}